<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Questions</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of getSurveys()">
            <td>{{s.title}}</td>
            <td>{{s.type}}</td>
            <td>{{s.startdate}}</td>
            <td>{{s.enddate}}</td>
            <td>{{s.question}}</td>
            <td>
                <button class="btn btn-sm btn-primary m-1" (click)="editSurvey(s.title)">
                    <i class="fas fa-pencil-alt"></i>Edit
                </button>
            </td>
            <td>
                <button class="btn btn-sm btn-danger m-1" (click)='deleteSurvey(s.title)'>
                    <i class="fas fa-trash-alt"></i>Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>


