<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <p class="fs-2 mt-5" style="font-family: Courier; text-align:center; color:#1b7ced;">
                Please Login
            </p>

            <form #form="ngForm" (ngSubmit)="authenticate(form)" autocomplete="off">

                <fieldset class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="user.username" 
                    name="username" placeholder="Enter Username"
                    id="username" required autofocus autocomplete="off">
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control"
                    [(ngModel)]="user.password" 
                    name="password" placeholder="Enter Password"
                    id="password" required autofocus autocomplete="off">
                </fieldset>
                
                <p style="color: rgb(45, 138, 141);">Don't have an account? <a
                        href="/register">Join Now</a></p>

                <fieldset class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/"><input type="button" class="btn btn-warning"
                            value="Cancel"></a>

                </fieldset>
            </form>
        </div>
    </div>
</div>
