<div class="container-fluid">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h3 style="color: rgb(0,141,131);">New Survey Questions</h3>
            <form  [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
              <div formGroupName="surveyDetail">
                <label style="color: rgb(0, 141, 131);" class="h5" for="NameTextField">Please name the new survey. Name
                  must be unique.</label>
                <input type="text" id="NameTextField" placeholder="{{survey.title}}"
                formControlName="title">
                <div >
                  <span *ngIf="!reactiveForm.get('surveyDetail.title').valid && reactiveForm.get('surveyDetail.title').touched" style="color: red;">
                    Please Enter the title
                  </span>
                </div>
                <br>

                <label style="color: rgb(0, 141, 131);" class="form-check-label" for="inlineRadio1">True/False</label>
                <input class="form-check-input" type="radio"  id="inlineRadio1" value="True/False" formControlName="type">
                <label style="color: rgb(0, 141, 131);" class="form-check-label " for="inlineRadio2">Scale</label>
                <input class="form-check-input" type="radio"  id="inlineRadio1" value="Scale" formControlName="type">
                
                <br>
                <label style="color: rgb(0, 141, 131);" class="h6 mt-3">Survey Start Date</label>
                <input type="date" class="date mt-3" placeholder="yyyy-mm-dd" 
                formControlName="startdate">
                <div >
                  <span *ngIf="!reactiveForm.get('surveyDetail.startdate').valid && reactiveForm.get('surveyDetail.startdate').touched" style="color: red;">
                    Please Select the start date
                  </span>
                </div>
                <br>

                <label style="color: rgb(0, 141, 131);" class="h6 mt-5">Survey End Date</label>
                <input type="date" class="date" placeholder="yyyy-mm-dd" 
                formControlName="enddate">
                <div >
                  <span *ngIf="!reactiveForm.get('surveyDetail.enddate').valid && reactiveForm.get('surveyDetail.enddate').touched" style="color: red;">
                    Please Select the end date
                  </span>
                </div>
              </div>

              <div formArrayName="question">
                <ng-container *ngFor="let q of reactiveForm.get('question')['controls']
                ;index as i">
                  <input type="text" formControlName="{{i}}">
                </ng-container>
                <button (click)="addQuestion()">+ Add Question</button>
              </div>
              
              <br>
              <button class="btn btn-primary mt-5" type="submit">
                <i class="fas fa-edit"></i> Submit</button>

              <a href="/survey/table" class="btn btn-warning mt-5">
                <i class="fas fa-undo"></i> Cancel</a>
                          
            </form>
        
        </div>
    </div>
  
</div>
